.thank-you {
  font-family: 'Shadows Into Light', cursive;
  font-size:1.2rem;
  color: #3b5249;
  text-align: center;

}

.message-box {
text-align: center;
padding: 20px;
padding-left: 100px;

}
